body {
  background-color: azure;
}

.loancalci {
  color: rgb(255, 0, 0); /* Example color, you can change the values */
  padding: 20px 30px;
}

.btn {
  border-color: red;
}

.ans {
  width: 2vw;
}